<div class="sign-overlay"></div>
<div class="signpanel"></div>
<div class="panel signin">
  <div class="panel-heading">
    <h1>CSC Library</h1>
  </div>
  <div class="panel-body">
    <form>
      <div class="form-group mb10">
        <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
          {{input type="text" class="form-control" placeholder="Enter Email" value=email}}
        </div>
      </div>
      <div class="form-group nomargin">
        <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
          {{input type="password" class="form-control" placeholder="Enter Password" value=password}}
        </div>
      </div>
      <div><a class="forgot">Forgot password?</a></div>
      <div class="form-group">
        <button {{action 'signIn'}} class="btn btn-success btn-quirk btn-block">Sign In</button>
      </div>
    </form>
    <hr class="invisible">
    <div class="form-group">
      {{#link-to 'sign-up' class="btn btn-default btn-quirk btn-stroke btn-stroke-thin btn-block btn-sign"}}Not a member? Sign up now!{{/link-to}}
    </div>
  </div>
</div>
